.water-container{
  width: 100vw;
  box-sizing: border-box;
  padding: 0 40px;
  .water-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .water-item{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .water-item-right{
      padding-left: 10px;
    }
  }
  .water-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: transparent;
    .water-loading{
      width: 25px;
      height: 25px;
      border: 3px solid #ddd;
      border-radius: 50%;
      border-bottom: 3px solid #717171;
      transform: rotate(0deg);
      animation: loading 1s linear infinite;
    }
    .water-all{
      color: #555555;
    }
  }
}
